name: pygeoutils-dev
channels:
  - conda-forge
dependencies:
  - python>=3.8
  - setuptools
  - pip
  - xarray
  - netCDF4
  - geopandas
  - rasterio
  - shapely
  - orjson

  - dask
  - bottleneck

  - setuptools_scm
  - pytest-cov
  - pytest-xdist
  - pre-commit
  - codecov
  - coverage
  - pip:
    - numbagg
    - git+https://github.com/cheginit/pygeoogc.git
