name: pygeoutils-tests
channels:
  - conda-forge
  - nodefaults
dependencies:
  # async-retriever deps
  - aiodns
  - aiosqlite
  - aiohttp >=3.8.1
  - brotli
  - cytoolz
  - nest-asyncio
  - aiohttp-client-cache >=0.7.3
  - ujson

  # pygeoogc deps
  # - async-retriever >=0.3.5
  - cytoolz
  - defusedxml
  - loguru
  - owslib >=0.27.2
  - pyproj >=2.2
  - pyyaml
  - requests
  - requests-cache >=0.9.6
  - shapely >=1.8
  - urllib3

  # pygeoutils deps
  - cytoolz
  - dask-core
  - geopandas >=0.7
  - loguru
  - netcdf4
  - numpy >=1.17
  - pygeos
  - pyproj >=2.2
  - rasterio >=1.2
  - rioxarray >=0.11
  - scipy
  - shapely >=1.8
  - ujson
  - xarray >=2022.03.0

  # optional deps to speed up xarray
  - bottleneck

  # test deps
  - pytest-cov
  - pytest-xdist
  - psutil

  - pip
  - pip:
    - git+https://github.com/hyriver/async-retriever.git
    - git+https://github.com/hyriver/pygeoogc.git
